{% extends 'base.html' %}
{% block content %}
    <br>
<h4 class="text-center">Привет, {{ request.user.first_name }}</h4>
<h4 class="text-center">Просмотр заказов</h4>
    <div class="col-12">

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Номер заказа</th>
            <th scope="col">Дата создания заказа</th>
            <th scope="col">Статус</th>
            <th scope="col">Содержание</th>
            <th scope="col">Сумма</th>
        </tr>
        </thead>

        <tbody>
        {% for order in customer.orders.all %}
            <tr>
            <th>{{ order.id }}</th>
            <td>{{ order.created_at}}</td>
            <td>{{ order.get_status_display }}</td>
            <td>
            {% for item in order.cart.products.all %}
                <div class="row">
                <strong>
                    <a href="{{ item.product.get_absolute_url }}" class="text-decoration-none" style="color: sienna">
                        {{ item.product.name }}
                    </a>
                </strong>
                <span>{{ item.qty }} шт.</span>
                </div>
            {% endfor %}
            </td>
            <td>{{ order.cart.final_price }} руб.</td>
{#                <th scope="row">{{ order.id }}</th>#}
{#                <td>{{ order.get_status_display }}</td>#}
{#                <td>{{ order.cart.final_price }} руб.</td>#}
{#                <td><button type="button" class="btn btn-primary" data-bs-toggle="modal"#}
{#                            data-bs-target="#orderDetails-{{ order.id }}">Детали заказа</button></td>#}
{#            <div class="modal fade" id="orderDetails-{{ order.id }}" tabindex="-1"#}
{#                                 aria-labelledby="orderDetailsLabel-{{ order.id }}" aria-hidden="true">#}
{#                <div class="modal-dialog modal-xl">#}
{#                    <div class="modal-content">#}
{#                        <div class="modal-header">#}
{#                                            <h5 class="modal-title text-center" id="orderDetailsLabel-{{ order.id }}">#}
{#                                                Информация о заказе #{{ order.id }}#}
{#                                            </h5>#}
{#                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
{#                        </div>#}
{#                        <div class="modal-body">#}
{#                                            <div class="row">#}
{##}
{#                                                <div class="col-md-3 text-center mb-2">#}
{#                                                    <strong>Наименование</strong>#}
{#                                                </div>#}
{#                                                <div class="col-md-3 text-center mb-2">#}
{#                                                    <strong>Изображение</strong>#}
{#                                                </div>#}
{#                                                 <div class="col-md-3 text-center mb-2">#}
{#                                                    <strong>Кол-во</strong>#}
{#                                                </div>#}
{#                                                <div class="col-md-3 text-center mb-2">#}
{#                                                    <strong>Сумма</strong>#}
{#                                                </div>#}
{#                                            <hr>#}
{#                                            {% for item in order.cart.products.all %}#}
{#                                                <div class="col-md-3 mb-3 text-center">#}
{#                                                    <strong>#}
{#                                                        <a href="{{ item.product.get_absolute_url }}"#}
{#                                                           class="text-decoration-none" style="color: sienna">#}
{#                                                            {{ item.product.name }}#}
{#                                                        </a>#}
{#                                                    </strong>#}
{#                                                </div>#}
{#                                                <div class="col-md-3 mb-3 text-center">#}
{#                                                    <img src="{{ item.product.image.url }}" class="img-fluid">#}
{#                                                </div>#}
{#                                                <div class="col-md-3 mb-3 text-center">#}
{#                                                    {{ item.qty }} шт.#}
{#                                                </div>#}
{#                                                <div class="col-md-3 mb-3 text-center">#}
{#                                                    {{ item.final_price }} руб.#}
{#                                                </div>#}
{#                                            {% endfor %}#}
{#                                        </div>#}
{#                                    </div>#}
{#                    <div class="modal-footer">#}
{#                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">#}
{#                                            Закрыть#}
{#                                        </button>#}
{#                    </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}

            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock content %}